.btn{
    width: 170px;
    height: 69px;
    background-color: $color-primary;
    color: white;
    font-size: 1.8rem;
    font-family: "DM Sans";
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
    &-dropdown{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}
.contact{
    &__button{
        width: 170px;
        height: 69px;
        background-color: $color-primary;
        color: white;
        font-size: 2rem;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        line-height: 2.6rem;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        &:hover, &:focus{
            background-color: $color-secondary;
            color: #000;
        }
        @include mobile{
            height: 35px;
            position: fixed;
            bottom: 30px;
            left: calc(50% - 85px);
        }
    }
}

