.tags{

    border: solid 0.5px $color-border;
    border-radius: 11px;
    padding: 3px 7px;
    cursor: pointer;
    margin-right: 5px;
    &:hover{
        color: white;
        background-color: $color-primary;
    }
    &:focus{
        color: white;
        background-color: $color-primary;
    }
    &-active{
        color: white;
        background-color: $color-primary;
    }

}