.body-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
    @include mobile{
        display: flex;
        flex-direction: column;
    }
}

.anchor{
    display: none;
    position: fixed;

    height: 30px;
    background: $color-secondary;
    color: #000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 10px;
    top: 1%;
    left: calc(50% + -90px);
}
.content{
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1240px;
    @include mobile{
        width: auto;
        padding: 0;
        margin: auto;
    }
    &__medias{
        margin-left: auto;
        margin-right: auto;
        width: 1240px;
        @include mobile{
            width: 100%;
        }
    }
}

.main-title{
    @include mobile{
        position: absolute;
        top: 50px;
        right: 22px;
    }
}


.wrapper{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    width: 100%;
    @include mobile{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        
        
    }
}


.photographer{
    width: 342px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    &__link{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    &__avatar{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    &__text{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    &__localisation{
        margin-bottom: 3px;
    }
    &__tagline{
        margin-bottom: 3px;
    }
    &__price{
        margin-bottom: 10px;
    }
}

.infos{
    display: flex;
    position:relative;
    width: 100%;
    padding-top: 56px;
    padding-left: 50px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin-bottom: 20px;
    @include mobile{
        background-color: #FFF;
        padding-left: 20px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
    }
    &__name{
        font-size: 4rem;
        color: #D3573C;
        margin-bottom: 20px;
        @include mobile{
            font-size: 3.6rem;
            margin-bottom: 10px;
            width: 228px;
            line-height: 3rem;
        }
    }
    &__localisation{
        color: $color-primary;
        font-size: 2.4rem;
        margin-bottom: 19px;
        font-weight: 400;
        @include mobile{
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
    }
    &__tagline{
        font-size: 1.8rem;
        line-height: 2.3rem;
        font-weight: 300;
        color: #525252;
        margin-bottom: 15px;
        @include mobile{
            font-size: 1.3rem;
            line-height: 1.7rem;   
        }
    }
    &__tags{
        margin-bottom: 48px;
    }
    &__avatar{
        position: absolute;
        right: 114px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        @include mobile{
            top: 30px;
            right: 0px;
            width: 100px;
            height: 100px;
        }
    }
}

.sort{
    display: flex;
    @include mobile{
        display: none;   
    }
    &__title{
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin-right: 20px;
        margin-bottom: 58px;
    }

    
    &__dropdown{
        position: relative;
    }
    &__options{
        background-color: #901C1C;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        border-radius: 5px;
    }
    &__option{
        background-color: $color-primary;
        color: #FAFAFA;
        font-family: "DM Sans";
        width: 170px;
        font-size: 1.8rem;
        cursor: pointer;
        padding: 20px;
        &-1{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: space-between;
            padding-top: 23px;
            
        }
        &-2{
            position: relative;
            text-align: left;
        }
        &-2::before{
            content: "";
            width: 85%;
            height: 1px;
            background-color: #FAFAFA;
            position: absolute;
            left: 7.5%;
            top: 0;
        }
        &-3::before{
            content: "";
            width: 85%;
            height: 1px;
            background-color: #FAFAFA;
            position: absolute;
            left: 7.5%;
            top: 0;
        }
        &-3{
            position: relative;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: left;
        }

    }
    &__show{
        display: flex;
        flex-direction: column;
        height: 170px;
    }
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    @include mobile{
        border-radius: 5px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        background-color: #DB8876;
        width: 669px;
        height: 900px;
        padding: 35px;
        @include mobile{
            padding: 20px;
            height: 100%;
            width: 100%;
        }
    }
    &__title, &__photographer{
        color: black;
        font-size: 6.4rem;
        margin-bottom: 20px;
        line-height: 70px;
        @include mobile{
            font-size: 3.6rem;
            line-height: 4.67rem;
            margin-bottom: 12px;
        }
    }
    &__photographer{
        margin-top: 9px;
    }
    &__label{
        font-family: "DM Sans";
        font-size: 3.6rem;
        color: #312E2E;
        @include mobile{
            font-size: 2.4rem;
            margin-top: 14px;
            margin-bottom: 4px;
        }

    }
    &__input{
        height: 68px;
        font-size: 2.4rem;
        padding-left: 10px;
        border-radius: 5px;
        border: none;
        background: #FFF;
        @include mobile{
            height: 52px;
        }
    }
    &__textarea{
        margin-bottom: 13px;
        font-size: 2.4rem;
        padding-left: 10px;
        padding-top: 15px;
        border-radius: 5px;
        border: none;
        @include mobile{
            margin-top: 10px;   
        }
    }

    &__btn{
        width: 170px;
        height: 69px;
        background-color: $color-primary;
        color: white;
        font-size: 2rem;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: bold;
        line-height: 2.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: none;
        border: none;
        &:hover, &:focus{
            background-color: $color-secondary;
            color: #000;
        }
        @include mobile{
            height: 35px;
            font-size: 1.8rem;
            line-height: 2.33rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__close{
        background: url(/public/images/close_modal.svg) center / 100% no-repeat;
        text-indent: 10000px;
        width: 42px;
        height: 42px;
        border: none;
        cursor: pointer;
    }

}

.form{
    display: flex;
    flex-direction: column;
}

.medias{
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include mobile{
            display: flex;
            flex-direction: column;
        }
    }
}

.media{
    &__card{
        width: 350px;
        margin-bottom: 20px;
        @include mobile{
            margin-left: auto;
            margin-right: auto;   
        }
    }
    &__photo{
        width: 100%;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 5px;
        @include mobile{
            height: 190px;
        }
    }

    &__text{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 2.1rem;
        color: $color-primary;
        @include mobile{
            font-size: 1.4rem;   
        }
    }
    &__heart{
        cursor: pointer;
    }
    &__likes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60px;

        
        @include mobile{
            font-weight: 500;   
        }
    }

}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    &__next, &__prev{
        background: url(/public/images/arrow.svg) center center / 100% 100%;
        width: 30px;
        height: 48px;
        border: none;
        position: fixed;
        top: 50%;
        right: 1%;
        margin-top: -14px;
        text-indent: 10000px;
        cursor: pointer;
        @include mobile{
            height: 23px;
            width: 23px;
            right: 3%;
        }

    }
    &__prev{
        right: auto;
        left: 1%;
        transform: rotate(180deg);
    }
    &__close{
        width: 42px;
        height: 42px;
        background: url(/public/images/close.svg) center/100%;
        border: none;
        text-indent: 10000px;
        cursor: pointer;
        position: fixed;
        top: 10%;
        right: 1%;
        @include mobile{
            top: 25%;
            width: 23px;
            height: 23px;
            right: 3%;
        }
    }
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
        width: 90%;
        @include mobile{
            width: 75vw;
            height: 40vh;
        }
    }
    &__photo{
        max-width: 100%;
        height: 90vh;
        object-fit: cover;
        @include mobile{
            height: 40vh;
            width: 75vw;
            border-radius: 5px;
        }
    }
        &__video{
            width: 90vw;
            max-width: 100%;
        height: 90vh;
        object-fit: cover;
        @include mobile{
            height: 40vh;
            width: 75vw;
            border-radius: 5px;
        }
    }

}

.chevron{
    &_down{
        width: 16px;
        height: 10px;
        align-self: center;
    }
    &_up{
        width: 16px;
        height: 10px;
        transform: rotate(180deg);
        align-self: center;
    }
    
}

.likes{
    position: fixed;
    bottom: 0;
    right: 5%;
    padding: 0 30px;
    background-color: $color-secondary;
    color: black;
    display: flex;
    width: 376px;
    height: 63px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 2.4rem;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 500;
    justify-content: space-between;
    @include mobile{
        display: none;
    }
    &__numbers{
        display: flex;
        align-items: center;
    }
    &__total{
        margin-right: 5px;
    }
}

.animation{
    animation-duration: 0.5s;
    animation-name: slide;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
    transform: translateX(20px);
    }
}