.navigation{

    &__list{
        padding-top: 15px;
        padding-right: 50px;
        display: flex;
        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
        }
    }
    &__li{
        @include mobile{
            margin-bottom: 15px;
        }
    }
}